@media only screen and (max-width: 600px) {
    body {
        /*background-color: #D6C6FF;*/
        height: 1300px;
        background-image: linear-gradient(#D2C5FF,#C4B8EE , rgb(122, 110, 165));
        font-family: 'Special Elite';
        font-size: 18px;
    }

    .icon-bar {
    color: #0275d8;
  }

  #damburger {
  font-size: 25px;
}

    .about {
        text-align: center;
        color: black;
    }                   

    #notes {
        position: absolute;
        top:120px;
        left: 0px;
    }

    #whiteTeaCup {
        position: absolute;
        top: 200px;
        left: 300px;
    }

    #uke {
        position: absolute;
        top: 350px;
        left: 0px;
    }   

    #teaCup {
        position: absolute;
        top: 500px;
        left: 300px;
    }

    #whiteNotes {
        position: absolute;
        top: 750px;
        left: 0px;
    }

    #whiteUke {
        position: absolute;
        top: 1000px;
        left: 300px;
    }
}

@media only screen and (min-width: 600px) {
    body {
        /*background-color: #D6C6FF;*/
        height: 100vh;
        background-image: linear-gradient(#D2C5FF,#C4B8EE , rgb(122, 110, 165));
        font-family: 'Special Elite';
        font-size: 18px;
    }

    #teaCup {
        position: absolute;
        top: 350px;
        left: 700px;
    }

    #uke {
        position: absolute;
        top: 350px;
        left: 700px;
    }       

    #notes {
        position: absolute;
        top: 100px;
        left: 250px;
    }

    #whiteTeaCup {
        position: absolute;
        top: 110px;
        left: 250px;
    }

    #whiteNotes {
        position: absolute;
        top: 500px;
        left: 0px;
    }

    #whiteUke {
        position: absolute;
        top: 500px;
        left: 0px;
    }

    .about {
        text-align: center;
        color: black;
    }

    #bio {
        margin-left: 100px;
        margin-right: 100px;
    }


   
}
    