@media screen and (min-width: 600px) {
    body {
        font-family: 'Special Elite';
        font-size: 18px;
        background-image: url(orangeBack.jpg);
        color:white;
    }

    .top-social {
        display: none;
      }
    
    #merch {
        text-align: center;
    }

     
}


@media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Special Elite';
        font-size: 18px;
        background-image: url(orangeBack.jpg);
        color:white;
    }

    .top-social {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
    }

      #merch {
        text-align: center;
    }

    .icon-bar {
        color: #0275d8;
      }

      #damburger {
        font-size: 25px;
      }
}
