@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Special Elite';
    background-color: black;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 18px;
  }

  .top-social {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
  
  
  #homePic {
    
        background-image: url(ConcertHome.jpg);
        height: 400px; 
        background-size: 100% 100%;
        color:white;
        margin-right: 0px;
    }

    .navbar {
    background-image: url(navBar.png);
    margin-bottom: 0px;
  }

    #name {
        padding-top: 220px;
    }

    #oneWaySigns {

        height:275px; 

        margin-top: 25px;

    }

    #spotify {
    
        background-image: url(blueback.jpg);
    
        color: #0275d8;
        
        border-top: 10px solid #0275d8;
        
        display: grid;
        grid-template-columns: 1fr;
        height: 730px;
        text-align: center;
        align-items: center;
        
        
    }

    #youtube {
       /* border-top: 10px solid #0275d8;*/
        background-image: url(bluebackupside2.jpg);
        text-align: center;
        align-items: center;
        padding-top: 25px;
    }   

  .youtubeVids {
    height: 240px;
    width:300px;
  } 

  .icon-bar {
    color: #0275d8;
  }

  #damburger {
  font-size: 25px;
}
  
}

@media (min-width:600px) {
    body {
      font-family: 'Special Elite';
      font-size: 18px;
      background-color: #110809;;
      /*padding-top:51px;*/
      
  }

  .top-social {
    display: none;
  }

  .navbar {
    background-image: url(navBar.png);
    margin-bottom: 0px;
  }
  
  #homePic {
      
      background-image: url(ConcertHome.jpg);
      height: 1473px;
    
      
      
  }
  
  #name {
      
      padding: 52px;
      color: white;
      
  }
  
  #spotify {
      
    
      background-image: url(bluebacktop.jpg);
    
      color: #0275d8;
      
      border-top: 10px solid #0275d8;
      
      
      
      
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 558px;
      text-align: center;
      align-items: center;
      
      
      
      
  }
  
  #youtube {
      
    /* border-top: 10px solid #0275d8; */
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: 630px;
      text-align: center;
      align-items: center;
      background-image: url(bluebackbottom.jpg)
      
  }

  #oneWaySigns {
    height:420px; 
    padding-left: 175px;
  }
  
  #spotifyFrame {
    margin-left: 20px;
  }

  .youtubeVids {
    height: 400px;
    width: 370px;
  } 

  

}