@media screen and (min-width:600px) {

  body {
    font-family: 'Special Elite';
    font-size: 18px;
    background-image: url(orangeBack.jpg);
    
  }

  .top-social {
    display: none;
  }

  #merch {
    text-align: center;
    color:#0275d8;
  }

  .icon-bar {
    color: #0275d8;
  }

  #damburger {
    font-size: 25px;
  }

  .icon-side-bar {
    display: none;
  }

  .press {
    display: flex;
    justify-content: center;    
    color:#0275d8;
  }

  .press-card {
    width: 30%;
    height: 250px;
  }

  .press-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 18px;
  }

  .press a {
    text-decoration: none;
    color:#0275d8;
  }

  .press :hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

}

@media screen and (max-width:600px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Special Elite';
    font-size: 18px;
    color: #0275d8;
    background-image: url(orangeBack.jpg);
  }

  #merch {
    text-align: center;
    color:white;
  }

  .icon-bar {
    color: #0275d8;
  }

  #damburger {
    font-size: 25px;
  }
  /*
  .icon-side-bar {
      position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      background-color: black;
   
  }
  
  .icon-side-bar a {
      display: block;
      text-align: center; 
      padding: 15px;
      color: #0275d8;
      font-size: 16px;
  }*/

  .press {
    display: flex;   
    justify-content: center;
    color: white;
    margin-bottom: 100px;
    
  }

  .press a {
   
    text-decoration: none;
    color:white
  } 

  .press-card {

    width: 60%;
    height: 250px;
  }

  .top-social {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }

}